<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
			http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
			

			<bean id="testAspect"  class="test.TestAspect"/>
			<aop:config>
    <aop:aspect ref="testAspect">
   <aop:before pointcut="execution(** test.TestPlugin.testsql(..))" method="beforcon"/>  
   <aop:after pointcut="execution(** test.TestPlugin.testsql(..))" method="aftercon"/>  
	</aop:aspect>
    </aop:config>
			
			
			
			</beans>
			
			